<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Save Employees</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" th:href="@{/css/Demo.css/}" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

</head>
<body>
	<div class="bg"></div>
	<div class="bg bg2"></div>
	<div class="bg bg3"></div>
	<div class="content">
		<h3 class="animated bounce">Save Employee</h3>
		<hr>
		<form action="#" th:action="@{/employees/save}"
						th:object="${employee}" method="POST">
			
			<input type="hidden" th:field="*{id}" />
			
			<input type="text" th:field="*{firstName}"
					class="form-control mb-4 col-12" placeholder="First Name">
			
			<input type="text" th:field="*{lastName}"
					class="form-control mb-4 col-12" placeholder="Last Name">
			
			<input type="text" th:field="*{email}"
					class="form-control mb-4 col-12" placeholder="Email">
					
			<button type="submit" 
					class="btn btn-info btn-outline-dark">Save</button>
		</form>
		<hr>
		<a th:href="@{/employees/list}" class="btn btn-light">Back to the list</a>
	</div>
</body>
</html>